<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body  >

<div th:fragment="content-1-1-1"  class="col-md-10 p-0 ps-4 m-0">
  <th:block th:insert="~{layout/fragment-help :: help}"></th:block>
  <div class=" container-fluid row p-0 pt-2 mb-3 me-2 mx-auto border-top">
    <span ><b><a th:href="@{/web/attachment/menu1/{idProcess}(idProcess=${nameProcess.idProcess})}">
      [(${nameProcess.processName})]</a></b> /<b class="col-md-2"><a th:href="@{/web/attachment/menu1/{idProcess}/{idTicket}(idTicket=${nameTicket.idTicket},idProcess=${nameTicket.idProcess})}">
    [(${nameTicket.ticketName})]
  </a></b></span>

  </div>
  <div class="border rounded-bottom pb-4 me-4">
    <table style="width:100%"  class="table table-hover mb-3 rounded-bottom ">
      <thead class="table-light">
      <tr >
        <th hidden>Tên user</th>
        <th style="width:5%"  scope="col">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
        </th>
        <th style="width:20%; text-align: center;"  class=" mx-auto" scope="col">Tên</th>
        <th style="width:15%;text-align: center;" scope="col">Thời gian tạo</th>
        <th style="width:15%;text-align: center;" scope="col">Kích thước</th>
        <th style="width:15%;text-align: center;" scope="col">Trạng thái</th>
        <th style="width:20%;text-align: center;" scope="col">Mã toàn vẹn</th>
        <th style="width:10%;text-align: center;" scope="col">Hành động</th>
      </tr >
      </thead>
      <tbody id="myTable" >
      <tr th:each="i: ${listAttachment}" >
        <td hidden>
          [(${i.username})]
        </td>
        <td scope="row">
          <input class="form-check-input attachmentcheckbox" type="checkbox" th:id="${i.id}" >
          <input id="idProcess" th:if="${i.idProcess != null}" hidden th:value="${i.idProcess}">
          <input id="idTicket" hidden th:value="${i.idTicket}">
        </td>
        <td class="text-truncate"  >
          <a th:href="@{/web/attachment/read/{id}(id=${i.id})}" >
            <img src="/image/pdf.png">[(${i.originalFileName})]
          </a>
        </td>
        <td style="text-align: center;">[(${i.createdAt})]</td>
        <td style="text-align: center;">###MB</td>
        <td style="text-align: center;">-------</td>
        <td style="text-align: center;">-------</td>
        <td style="text-align: center;">
          <button class="btnaction border-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="/image/resize.png">
          </button>
          <!-- Popup -->
          <th:block th:insert="~{action/popupattachment :: popupattachment}"></th:block>
        </td>
      </tr>
      </tbody>

    </table>
    <div class=" mt-5 col-md-12 text-center ">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">...</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>