<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="menu" class="col-md-2 pe-0 ps-0" >
    <div class="  bd-highlight mb-3 row mt-3">
        <b><label class="ms-3">Thông tin menu</label></b>
    </div>

    <div class=" bd-highlight row mt-2">
        <a  href="/web/attachment/menu1" class=" menu1 col-md-12 p-2 ps-4  rounded-start rounded-pill">
            <img src="/image/menu/flowchart.png" class="me-2">
            <img id="img-hover-1" class="img-hover p-2 ps-4 me-2" src="/image/menu/flowchart-hover.png">
            Quản lý và tự động hoá quy trình
        </a>
    </div>
    <div class=" bd-highlight row  ">
        <a href="/web/attachment/menu2" class=" menu2 col-md-12 p-2 ps-4  rounded-start rounded-pill">
            <img src="/image/menu/assignment.png" class="me-2">
            <img id="img-hover-2" class="img-hover p-2 ps-4 me-2" src="/image/menu/assignment-hover.png">
            Giao việc tự động
        </a>
    </div>
    <div class=" bd-highlight row  ">
        <a href="/web/attachment/menu3"  class="menu3 col-md-12 p-2 ps-4 rounded-start rounded-pill">
            <img src="/image/menu/folder.png" class="me-2">
            <img id="img-hover-3" class="img-hover p-2 ps-4 me-2" src="/image/menu/folder-hover.png">
            Tài liệu tôi được chia sẻ
        </a>
    </div>
    <div class=" bd-highlight row  ">
        <a href="/web/attachment/menu4"  class="menu4 col-md-12 p-2 ps-4 rounded-start rounded-pill">
            <img src="/image/menu/share.png" class="me-2">
            <img id="img-hover-4" class="img-hover p-2 ps-4 me-2" src="/image/menu/share-hover.png">
            Tài liệu tôi đã chia sẻ
        </a>
    </div>
    <div class=" bd-highlight row  ">
        <a href="/web/attachment/menu5"  class="menu5 col-md-12 p-2 ps-4 rounded-start rounded-pill">
            <img src="/image/menu/star.png" class="me-2">
            <img id="img-hover-5" class="img-hover p-2 ps-4 me-2" src="/image/menu/star-hover.png">
            Tài liệu có gắn dấu sao
        </a>
    </div>
    <div class=" bd-highlight row ">
        <a href="/web/attachment/menu6"  class="menu6 col-md-12 p-2 ps-4 rounded-start rounded-pill">
            <img src="/image/menu/secure-folder.png" class="me-2">
            <img id="img-hover-6" class="img-hover p-2 ps-4 me-2" src="/image/menu/secure-folder-hover.png">
            Kiểm tra tính toàn vẹn
        </a>
    </div>
</div>
</body>
</html>